<script src="{{url_for('static', filename='assets/node_modules/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/node_modules/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='assets/DataTables/screen_adapter.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}">


<!-- buttons -->
<link rel="stylesheet" href="{{url_for('static', filename='assets/node_modules/datatables.net-buttons-dt/css/buttons.dataTables.min.css')}}">

<!-- copy, csv, print buttons -->
<script src="{{url_for('static', filename='assets/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/node_modules/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/node_modules/datatables.net-buttons/js/buttons.print.min.js')}}"></script>

<!-- pfd download buttons -->
<script src="{{url_for('static', filename='assets/node_modules/pdfmake/build/pdfmake.min.js')}}"></script>
<script src="{{[url_for('static', filename='assets/node_modules/pdfmake/build/vfs_fonts.js')]}}"></script>

<!-- excel -->
<script src="{{url_for('static', filename='assets/node_modules/jszip/dist/jszip.min.js')}}"></script>

<script src="{{url_for('static', filename='assets/node_modules/datatables.net-buttons/js/buttons.colVis.min.js')}}"></script>

<link rel="stylesheet" href="{{url_for('static', filename='assets/css/dt-button.css')}}">