<button class="btn btn-primary mb-2" type="button" data-toggle="modal" data-target="#advancedSearch">
    <i class="fa fa-binoculars" aria-hidden="true"></i> Advanced Search</button>


<a href="{{ url_for('order.view') }}" id="removeButton" class="btn btn-primary mb-2 d-none">
    <i class="fa fa-refresh" aria-hidden="true"></i> Remove Filter</a>


<div class="modal fade" id="advancedSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="change-password-form" method="POST" action="{{ url_for('order.datatable') }}">
                
                <div class="modal-header"><h5>Advanced Search</h5></div>
                <!-- <h4 style="margin-left: 20px; margin-top: 20px; margin-right: 20px;">Advanced Search</h4> -->
                {% for field in advanced_search_form %}
                    <div class="form-group mt-1 mb-1 ml-3 mr-3 m-left-15">
                        <label class="col-sm-4 col-form-label padding-bottom-1" ><strong>{{ field.label }}</strong></label>
                        <div class="col-sm-12 error-style">
                            {{ field }}
                            {% if field.errors %}
                                <ul class="errors">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id='change-password-submit-form' type="submit" class="btn btn-success">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>