  <!-- /.content-wrapper -->
  <footer class="main-footer">
   Copyright &copy;<span id="currentYear"></span> 

    <!-- footer year -->
  <script src="{{url_for('static', filename='assets/js/funcs.js')}}"></script>




     <a target="_blank" rel="noopener noreferrer" href="https://www.tomware.it/">Tomware Group</a>
    <div class="float-right d-none d-sm-inline-block">
      <!-- <a target="_blank" rel="noopener noreferrer" 
          href="https://appseed.us/product/adminlte/flask/"></a>  -->
    </div>
  </footer>
