<button class="btn btn-success w-100 " type="button" data-toggle="modal" data-target="#changePassword">Change Password</button>

<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="change-password-form" method="POST" action="{{ url_for('profile.change_password', id=user.id) }}">
                
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>  
                
                <h4 class="modal-h4-margin">Change Password</h4>
                {% for field in form %}
                    <div class="form-group mt-1 mb-1 ml-3 mr-3 m-left-15" >
                        <label class="col-sm-4 col-form-label padding-bottom-1">{{ field.label }}</label>
                        <div class="col-sm-12 error-style">
                            {{ field }}
                            {% if field.errors %}
                                <ul class="errors">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id='change-password-submit-form' type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>